{% extends 'base.html' %}

{% block content %}
{% load static %}

<body data-spy="scroll" data-target="#navbar-nav-header" class="static-layout">
<div class="boxed-page">


    <div id="side-nav" class="sidenav">
        <a href="javascript:void(0)" id="side-nav-close">&times;</a>

        <div class="sidenav-content">
            <p>
                Kuncen WB1, Wirobrajan 10010, DIY
            </p>
            <p>
                <span class="fs-16 primary-color">(+68) 120034509</span>
            </p>
            <p>info@yourdomain.com</p>
        </div>
    </div>
    <div id="side-search" class="sidenav">
        <a href="javascript:void(0)" id="side-search-close">&times;</a>
        <div class="sidenav-content">
            <form action="">

                <div class="input-group md-form form-sm form-2 pl-0">
                    <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search"
                           aria-label="Search">
                    <div class="input-group-append">
                        <button class="input-group-text red lighten-3" id="basic-text1">
                            <span class="lnr lnr-magnifier"></span>
                        </button>
                    </div>
                </div>

            </form>
        </div>

    </div>
    <div class="jumbotron jumbotron-single d-flex align-items-center"
         style="background-image: url({% static 'img/bg.jpg' %})">
        <!-- остальное содержимое -->
        <div class="container text-center">
            <h1 class="display-2 mb-4">Create Post</h1>
        </div>
    </div>        <!-- Contact Form Section -->
    <section id="contact-form" class="bg-white">
        <div class="container">
            <div class="section-content">
                <!-- Section Title -->
                <div class="title-wrap" data-aos="fade-down">
                    <h2 class="section-title">Get In Touch</h2>
                    <p class="section-sub-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                        <br> pharetra augue. Donec id elit non mi.</p>
                </div>
                <!-- End of Section Title -->
                <div class="row">
                    <!-- Contact Form Holder -->
                    <div class="col-md-8 offset-md-2 contact-form-holder mt-4" data-aos="fade-up">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="col-md-12 text-center">
                                <button class="btn btn-primary btn-shadow btn-lg" type="submit" name="submit">Send
                                    Message
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- End of Contact Form Holder -->
                </div>
            </div>
            <div class="section-content pt-0">
                <div class="title-wrap" data-aos="fade-down">
                    <h2 class="section-title">Where To Find Us?</h2>
                </div>
                <div class="row text-center mt-4">
                    <div class="col-md-3" data-aos="fade-down">
                        <span class="lnr lnr-location fs-40 py-4 d-block"></span>
                        <h5>LOCATION</h5>
                        <p>Yogyakarta</p>
                    </div>
                    <div class="col-md-3" data-aos="fade-down" data-aos-delay="200">
                        <span class="lnr lnr-clock fs-40 py-4 d-block"></span>
                        <h5>WORKING TIME</h5>
                        <p>Monday - Saturday</p>
                    </div>
                    <div class="col-md-3" data-aos="fade-down" data-aos-delay="400">
                        <span class="lnr lnr-phone fs-40 py-4 d-block"></span>
                        <h5>CALL US</h5>
                        <p>123-45678</p>
                    </div>
                    <div class="col-md-3" data-aos="fade-down" data-aos-delay="600">
                        <span class="lnr lnr-phone fs-40 py-4 d-block"></span>
                        <h5>EMAIL</h5>
                        <p>company@gmail.com</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End of Contact Form Section -->        <!-- Features Section-->
    <section id="cta" class="bg-fixed overlay" style="background-image: url({% static 'img/bg.jpg' %});">
        <div class="container">
            <div class="section-content" data-aos="fade-down">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="mb-2">Make a beautiful website, or million of them</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, veritatis qui eligendi
                            delectus quia fuga!</p>
                        <a class="btn btn-outline-primary btn-lg">FEATURES</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Features Section-->
    <footer class="mastfoot my-3">
        <div class="inner container">
            <div class="row">
                <div class="col-lg-4 col-md-12 d-flex align-items-center">

                </div>
                <div class="col-lg-4 col-md-12 d-flex align-items-center">
                    <p class="mx-auto text-center mb-0">&copy; 2019 Roxy. Design by <a href="https://gettemplates.co"
                                                                                       target="_blank">GetTemplates</a>.
                    </p>
                </div>

                <div class="col-lg-4 col-md-12">
                    <nav class="nav nav-mastfoot justify-content-center">
                        <a class="nav-link" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="nav-link" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="nav-link" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="nav-link" href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a class="nav-link" href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </nav>
                </div>

            </div>
        </div>
    </footer>
</div>
{% endblock %}
